[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
minio = "*"
python-multipart = "*"
pillow = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-timeout = "*"
redis = "*"
flower = "*"
pika = "*"
motor = "*"

[dev-packages]

[requires]
python_version = "3.10"
